<!DOCTYPE html>
<html lang="en">
<%- include( 'partials/head.ejs') %>
<body>
    <h1>Justice League</h1>
   
  <div> <% for(let idx = 0; idx < justice.length; idx++) { %>
        <% const just = justice[idx] %>
        <% console.log(just) %>

        <h2>Name: <%= just.name %></h2>
       
       <img src="<%= just.img %> " alt="<%= just.name %> ">
    <% } %> 

    </div> 
</body>
</html>