<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Justice League</title>
</head>
<body>
    <h1>Justice League</h1>
   
  <div> <% for(let idx = 0; idx < justice.length; idx++) { %>
        <% const just = justice[idx] %>
        <% console.log(just) %>

        <h2>Name: <%= just.name %></h2>
       <h3>Ability: <%= just.ability %> </h3> 
       <img src="<%= just.img %> " alt="<%= just.name %> ">
    <% } %> 

    </div> 
</body>
</html>