<!DOCTYPE html>
<html lang="en">
    <%- include( 'partials/head.ejs', {page: 'New Member'} ) %>
<body>
    
    <form method="POST" action="/justice-league">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" placeholder="name"/>

        <label for="ability">Ability:</label>
        <input type="text" name="ability" id="ability" placeholder="ability"/>
   
        <label for="img">Image:</label>
        <input type="text" name="img" id="img" placeholder="Image Url"/>
        <input type="submit" value="Create Member">  
    </form>
    <% console.log('hi') %>

</body>
</html>